[flake8]
# Игнорируемые ошибки (например, длинные строки)
ignore = E203, W503
# Максимальная длина строки
max-line-length = 119
# Папки, которые нужно игнорировать
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,venv,.venv
# Максимальная сложность функций
max-complexity = 10
